{{block "index" .}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Apostas</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./css/style.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
  </head>
  <body>
    {{ template "betForm" .}}
    <hr>
    {{ template "betDisplay" .}}
  </body>
</html>
{{end}}

<!-- Formulário para adicionar uma nova aposta -->
{{block "betForm" .}}
<form hx-swap="outerHTML" hx-target="#bets" hx-post="/bet">
  Valor da aposta: <input type="number" step="0.01" name="value" placeholder="Valor da aposta"> <br>
  Email: <input type="email" name="email" placeholder="Email do apostador"> <br>
  Nome do evento: <input type="text" name="description" placeholder="Descrição do evento"> <br>
  Nome completo: <input type="text" name="fullname" placeholder="Nome completo"> <br>
  Telefone: <input type="tel" name="phone" placeholder="Telefone" required> <br>
  Endereço: <input type="text" name="address" placeholder="Endereço"> <br>
  País: <input type="text" name="country" placeholder="País"> <br>
  Método de pagamento:
  <select name="paymentMethod">
    <option value="paypal">Paypal</option>
    <option value="credito">Crédito</option>
    <option value="debito">Débito</option>
    <option value="nubank">Nubank</option>
    <option value="pix">Pix</option>
    <option value="boleto">Boleto</option>
    <option value="transferencia">Transferência</option>
    <option value="outro">Outro</option>
  </select>
  <br>
  Categoria:
  <select name="category">
    <option value="esporte">Esporte</option>
    <option value="games">Games</option>
    <option value="cavalos">Cavalos</option>
    <option value="luta">Luta</option>
    <option value="casino">Cassino</option>
    <option value="politica">Política</option>
    <option value="financeiro">Financeiro</option>
    <option value="outros">Outros</option>
  </select>
  <br>
  Data de nascimento: <input type="date" name="birthData" placeholder="Data de nascimento"> <br>
  <button class="mdc-button" type="submit">Criar evento</button>
</form>
{{end}}

{{block "betDisplay" .}}  
<div id="bets" style="display: flex; flex-direction: column;">
  {{ range .Bets }}
    <div>
      Descrição: <span>{{.Description}}</span> <br>
      Valor: <span>{{.Value}}</span> <br>
      Email: <span>{{.BetterEmail}}</span> <br>
      Nome completo: <span>{{.Fullname}}</span> <br>
      Telefone: <span>{{.Phone}}</span> <br>
      Endereço: <span>{{.Address}}</span> <br>
      País: <span>{{.Country}}</span> <br>
      Método de pagamento: <span>{{.PaymentMethod}}</span> <br>
      Categoria: <span>{{.Category}}</span> <br>
      Data de nascimento: <span>{{.BirthData}}</span> <br>
      <hr>
    </div>
  {{end}}
</div>
{{end}}